<%= form_for(@up_size) do |f| %>
  <% if @up_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@up_size.errors.count, "error") %> prohibited this up_size from being saved:</h2>

      <ul>
      <% @up_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chima_id %><br />
    <%= f.number_field :chima_id %>
  </div>
  <div class="field">
    <%= f.label "前长" %><br />
    <%= f.text_field :front_length %>
  </div>
  <div class="field">
    <%= f.label "后长" %><br />
    <%= f.text_field :back_length %>
  </div>
  <div class="field">
    <%= f.label "胸围" %><br />
    <%= f.text_field :chest %>
  </div>
  <div class="field">
    <%= f.label "腰围" %><br />
    <%= f.text_field :waistline %>
  </div>
  <div class="field">
    <%= f.label "下摆" %><br />
    <%= f.text_field :lap %>
  </div>
  <div class="field">
    <%= f.label "肩宽" %><br />
    <%= f.text_field :shoulder %>
  </div>
  <div class="field">
    <%= f.label "袖长" %><br />
    <%= f.text_field :sleeve %>
  </div>
  <div class="field">
    <%= f.label "袖笼" %><br />
    <%= f.text_field :cage %>
  </div>
  <div class="field">
    <%= f.label "袖肥" %><br />
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label "袖口" %><br />
    <%= f.text_field :cuff %>
  </div>
  <div class="field">
    <%= f.label "短袖长" %><br />
    <%= f.text_field :short_sleeve %>
  </div>
  <div class="field">
    <%= f.label "领围" %><br />
    <%= f.text_field :neck %>
  </div>
  <div class="field">
    <%= f.label "领高" %><br />
    <%= f.text_field :colby %>
  </div>
  <div class="field">
    <%= f.label "袖宽" %><br />
    <%= f.text_field :sleeve_width %>
  </div>
  <div class="field">
    <%= f.label "重量" %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
