<%= form_for(@up_size) do |f| %>
  <% if @up_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@up_size.errors.count, "error") %> prohibited this up_size from being saved:</h2>

      <ul>
        <% @up_size.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "品牌" %><br />
    <%= f.select :brand_id , options_from_collection_for_select(Brand.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label "性别" %><br />
    <%= f.select :gender , options_for_select([["男",UpSize::Gender::M],['女',UpSize::Gender::W]]) %>
  </div>
  <div class="field">
    <%= f.label "种类" %><br />
    <%= f.select :category_id , options_for_select(UpSize::M_TYPES.invert) %>
  </div>
  <div class="field">
    <%= f.label "型号" %><br />
    <%= f.select :model_id , options_from_collection_for_select(Model.where(:brand_id=>Brand.first.try(:id)),:id,:name) %>
  </div>
  <div class="field">
    <%= f.label "前长" %><br />
    <%= f.text_field :front_length %>
  </div>
  <div class="field">
    <%= f.label "后长" %><br />
    <%= f.text_field :back_length %>
  </div>
  <div class="field">
    <%= f.label "胸围" %><br />
    <%= f.text_field :chest %>
  </div>
  <div class="field">
    <%= f.label "腰围" %><br />
    <%= f.text_field :waistline %>
  </div>
  <div class="field">
    <%= f.label "下摆" %><br />
    <%= f.text_field :lap %>
  </div>
  <div class="field">
    <%= f.label "肩宽" %><br />
    <%= f.text_field :shoulder %>
  </div>
  <div class="field">
    <%= f.label "袖长" %><br />
    <%= f.text_field :sleeve %>
  </div>
  <div class="field">
    <%= f.label "袖笼" %><br />
    <%= f.text_field :cage %>
  </div>
  <div class="field">
    <%= f.label "袖肥" %><br />
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label "袖口" %><br />
    <%= f.text_field :cuff %>
  </div>
  <div class="field">
    <%= f.label "短袖长" %><br />
    <%= f.text_field :short_sleeve %>
  </div>
  <div class="field">
    <%= f.label "领围" %><br />
    <%= f.text_field :neck %>
  </div>
  <div class="field">
    <%= f.label "领高" %><br />
    <%= f.text_field :colby %>
  </div>
  <div class="field">
    <%= f.label "袖宽" %><br />
    <%= f.text_field :sleeve_width %>
  </div>
  <div class="field">
    <%= f.label "重量" %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){

    $("#up_size_gender").change(function(){
      var gender = $(this).val();
      var $select = $("#up_size_category_id");
      // http://www.electrictoolbox.com/jquery-add-option-select-jquery/
      if (gender == 1){
        var newOptions = <%= raw UpSize::M_TYPES.to_json %>;
        if($select.prop) {
          var options = $select.prop('options');
        }
        else {
          var options = $select.attr('options');
        }
        $('option', $select).remove();
        $.each(newOptions, function(val, text) {
          options[options.length] = new Option(text, val);
        });
      }else{
        var newOptions = <%= raw UpSize::W_TYPES.to_json %>;
        if($select.prop) {
          var options = $select.prop('options');
        }
        else {
          var options = $select.attr('options');
        }
        $('option', $select).remove();
        $.each(newOptions, function(val, text) {
          options[options.length] = new Option(text, val);
        });
      }
    });

    $("#up_size_brand_id").change(function(){
      var id = $(this).val();
      $.ajax({
        url: "/models",
        type: "GET",
        data: { 'brand_id': id },
        success: function(data){
          if (data.status == 'ok'){
            var newOptions = data.options;
            var $select = $("#up_size_model_id");
            if($select.prop) {
              var options = $select.prop('options');
            }
            else {
              var options = $select.attr('options');
            }
            $('option', $select).remove();
            $.each(newOptions, function(val, text) {
              options[options.length] = new Option(text, val);
            });
          }
        }
      })
    })
  });
</script>
