<%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% @model.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "型号名称" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "品牌" %><br />
  <%#= f.number_field :brand_id %>
    <%= f.select :brand_id , options_from_collection_for_select(Brand.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label "类别" %><br/>
    <%= f.select :category , options_for_select([["上衣",Model::Category::UP],["下衣",Model::Category::DOWN]]) %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
