<%= link_to '新下衣尺寸', new_admin_down_size_path %>
<h1>下衣尺寸列表</h1>

<table>
  <tr>
    <th>品牌</th>
    <th>性别</th>
    <th>种类</th>
    <th>型号</th>
    <th>腰围</th>
    <th>臀围</th>
    <th>裤长</th>
    <th>总档</th>
    <th>横档</th>
    <th>前浪</th>
    <th>后浪</th>
    <th>膝围</th>
    <th>裤口</th>
    <th>重量</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @down_sizes.each do |down_size| %>
    <tr>
      <td><%= down_size.brand.try(:name) %></td>
      <td><%= down_size.human_gender %></td>
      <td><%= down_size.human_category %></td>
      <td><%= down_size.model.try(:name) %></td>
      <td><%= down_size.chest %></td>
      <td><%= down_size.ass %></td>
      <td><%= down_size.leng %></td>
      <td><%= down_size.total %></td>
      <td><%= down_size.crosspiece %></td>
      <td><%= down_size.before_weaves %></td>
      <td><%= down_size.back_weaves %></td>
      <td><%= down_size.knee %></td>
      <td><%= down_size.kukou %></td>
      <td><%= down_size.weight %></td>
      <td><%= link_to '显示', [:admin,down_size] %></td>
      <td><%= link_to '编辑', edit_admin_down_size_path(down_size) %></td>
      <td><%= link_to '删除', [:admin,down_size], confirm: '确认删除?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />


