<p>
  <b>Chima:</b>
  <%= @up_size.chima_id %>
</p>

<p>
  <b>Front length:</b>
  <%= @up_size.front_length %>
</p>

<p>
  <b>Back length:</b>
  <%= @up_size.back_length %>
</p>

<p>
  <b>Chest:</b>
  <%= @up_size.chest %>
</p>

<p>
  <b>Waistline:</b>
  <%= @up_size.waistline %>
</p>

<p>
  <b>Lap:</b>
  <%= @up_size.lap %>
</p>

<p>
  <b>Shoulder:</b>
  <%= @up_size.shoulder %>
</p>

<p>
  <b>Sleeve:</b>
  <%= @up_size.sleeve %>
</p>

<p>
  <b>Cage:</b>
  <%= @up_size.cage %>
</p>

<p>
  <b>Fat:</b>
  <%= @up_size.fat %>
</p>

<p>
  <b>Cuff:</b>
  <%= @up_size.cuff %>
</p>

<p>
  <b>Short sleeve:</b>
  <%= @up_size.short_sleeve %>
</p>

<p>
  <b>Neck:</b>
  <%= @up_size.neck %>
</p>

<p>
  <b>Colby:</b>
  <%= @up_size.colby %>
</p>

<p>
  <b>Sleeve width:</b>
  <%= @up_size.sleeve_width %>
</p>

<p>
  <b>Weight:</b>
  <%= @up_size.weight %>
</p>


<%= link_to '编辑', edit_admin_up_size_path(@up_size) %> |
<%= link_to '返回', admin_up_sizes_path %>
