<%= form_for([:admin,@forecast_wsize]) do |f| %>
  <%= error_messages_for @forecast_wsize %>

  <div class="field">
    <%= f.label :height %><br />
    <%= f.select :height_id , options_from_collection_for_select(Height.all,:id,:value) %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.select :weight_id , options_from_collection_for_select(Weight.all,:id,:value) %>
  </div>
  <div class="field">
    <%= f.label :chest %><br />
    <%= f.text_field :chest %>
  </div>
  <div class="field">
    <%= f.label :middle_chest %><br />
    <%= f.text_field :middle_chest %>
  </div>
  <div class="field">
    <%= f.label :shoulder %><br />
    <%= f.text_field :shoulder %>
  </div>
  <div class="field">
    <%= f.label :sleeve %><br />
    <%= f.text_field :sleeve %>
  </div>
  <div class="field">
    <%= f.label :neck %><br />
    <%= f.text_field :neck %>
  </div>
  <hr/>
  <div class="field">
    <%= f.label :down_chest %><br />
    <%= f.text_field :down_chest %>
  </div>
  <div class="field">
    <%= f.label :ass %><br />
    <%= f.text_field :ass %>
  </div>
  <div class="field">
    <%= f.label :crosspiece %><br />
    <%= f.text_field :crosspiece %>
  </div>
  <div class="field">
    <%= f.label :foot %><br />
    <%= f.text_field :foot %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
