<%= link_to '新的预估尺寸', new_admin_forecast_wsize_path %>
<h1>预估尺寸列表(女)</h1>

<table>
  <tr>
    <th>身高</th>
    <th>体重</th>
    <th>胸围</th>
    <th>中腰围</th>
    <th>肩宽</th>
    <th>袖长</th>
    <th>领围</th>
    <th>腰围</th>
    <th>臀围</th>
    <th>横档</th>
    <th>脚长</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @forecast_wsizes.each do |forecast_wsize| %>
    <tr>
      <td><%= forecast_wsize.height.try(:value) %></td>
      <td><%= forecast_wsize.weight.try(:value) %></td>
      <td><%= forecast_wsize.chest %></td>
      <td><%= forecast_wsize.middle_chest %></td>
      <td><%= forecast_wsize.shoulder %></td>
      <td><%= forecast_wsize.sleeve %></td>
      <td><%= forecast_wsize.neck %></td>
      <td><%= forecast_wsize.down_chest %></td>
      <td><%= forecast_wsize.ass %></td>
      <td><%= forecast_wsize.crosspiece %></td>
      <td><%= forecast_wsize.foot %></td>
      <td><%= link_to '显示', [:admin,forecast_wsize] %></td>
      <td><%= link_to '修改', edit_admin_forecast_wsize_path(forecast_wsize) %></td>
      <td><%= link_to '删除', [:admin,forecast_wsize], confirm: '确定?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />


