<p>
  <b>Height:</b>
  <%= @forecast_wsize.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @forecast_wsize.weight %>
</p>

<p>
  <b>Chest:</b>
  <%= @forecast_wsize.chest %>
</p>

<p>
  <b>Middle chest:</b>
  <%= @forecast_wsize.middle_chest %>
</p>

<p>
  <b>Shoulder:</b>
  <%= @forecast_wsize.shoulder %>
</p>

<p>
  <b>Sleeve:</b>
  <%= @forecast_wsize.sleeve %>
</p>

<p>
  <b>Neck:</b>
  <%= @forecast_wsize.neck %>
</p>

<p>
  <b>Down chest:</b>
  <%= @forecast_wsize.down_chest %>
</p>

<p>
  <b>Ass:</b>
  <%= @forecast_wsize.ass %>
</p>

<p>
  <b>Crosspiece:</b>
  <%= @forecast_wsize.crosspiece %>
</p>

<p>
  <b>Foot:</b>
  <%= @forecast_wsize.foot %>
</p>


<%= link_to '编辑', edit_admin_forecast_wsize_path(@forecast_wsize) %> |
<%= link_to '返回', admin_forecast_wsizes_path %>
