<%= form_for([:admin,@model]) do |f| %>
  <%= error_messages_for @model %>

  <div class="field">
    <%= f.label "型号名称" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "品牌" %><br />
  <%#= f.number_field :brand_id %>
    <%= f.select :brand_id , options_from_collection_for_select(Brand.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label "类别" %><br/>
    <%= f.select :category , options_for_select([["上衣",Model::Category::UP],["下衣",Model::Category::DOWN]]) %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
