<p>
  <b>Height:</b>
  <%= @forecast_msize.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @forecast_msize.weight %>
</p>

<p>
  <b>Chest:</b>
  <%= @forecast_msize.chest %>
</p>

<p>
  <b>Middle chest:</b>
  <%= @forecast_msize.middle_chest %>
</p>

<p>
  <b>Shoulder:</b>
  <%= @forecast_msize.shoulder %>
</p>

<p>
  <b>Sleeve:</b>
  <%= @forecast_msize.sleeve %>
</p>

<p>
  <b>Neck:</b>
  <%= @forecast_msize.neck %>
</p>

<p>
  <b>Down chest:</b>
  <%= @forecast_msize.down_chest %>
</p>

<p>
  <b>Ass:</b>
  <%= @forecast_msize.ass %>
</p>

<p>
  <b>Crosspiece:</b>
  <%= @forecast_msize.crosspiece %>
</p>

<p>
  <b>Foot:</b>
  <%= @forecast_msize.foot %>
</p>


<%= link_to '编辑', edit_admin_forecast_msize_path(@forecast_msize) %> |
<%= link_to '返回', admin_forecast_msizes_path %>
