<% brand = calc_brand[0] %>
<div class="layout layout_ex">
  <div class="main">
    <div class="header">
      <div class="header_title">维衣尺码助手</div>
      <div class="header_btn">+ 关注尺码助手</div>
    </div>
    <div class="mbody">
      <div class="textBox">
        <span class="pinpai_title fontSize_02 color_01">品牌</span>
        <span id="pinpai_name" class="pinpai_select">-- 请选择品牌 --</span>
        <ul id="pinpai" class="pinpai_select_ex" height="400px">
          <%= show_brands_select %>
        </ul>
      </div>
      <div class="styBox">
        <div class="styBox_left">
          <div class="textBox fontSize_02 color_01 margin_04">种类</div>
          <div id="zhonglei">
            <span class="styBox_leftCell">男士上衣</span>
            <ul id="leftCell_ul_0" class="leftCell_ul" style="display:block;">
              <li><a href="javascript:void(0)">西服<font>></font></a></li>
              <li><a href="javascript:void(0)">休闲衣<font>></font></a></li>
              <li><a href="javascript:void(0)">牛仔服<font>></font></a></li>
              <li><a href="javascript:void(0)">衬衫<font>></font></a></li>
              <li><a href="javascript:void(0)">外套<font>></font></a></li>
              <li><a href="javascript:void(0)">T恤<font>></font></a></li>
            </ul>
            <span class="styBox_leftCell">男士下衣</span>
            <ul id="leftCell_ul_2" class="leftCell_ul">
              <li><a href="javascript:void(0)">休闲裤<font>></font></a></li>
              <li><a href="javascript:void(0)">牛仔裤<font>></font></a></li>
              <li><a href="javascript:void(0)">西裤<font>></font></a></li>
              <li><a href="javascript:void(0)">内裤<font>></font></a></li>
              <li><a href="javascript:void(0)">短裤<font>></font></a></li>
              <li><a href="javascript:void(0)">运动裤<font>></font></a></li>
              <li><a href="javascript:void(0)">泳裤<font>></font></a></li>
            </ul>
          </div>
        </div>
        <div class="styBox_right">
          <div class="textBox fontSize_02 color_01 margin_04 padding_01" id="right_top">最佳尺寸/型号</div>
          <div id="brand_content">
            <div id="xinghao">
              <div class="styBox_right_top">西服</div>
              <div class="styBox_right_mid">
                <div class="xinghao_title">
                  <ul>
                    <li>
                      <span><input id="sx_biaozhuan" onclick="Chima.Step.changeBrandStyle('<%= User::Style::LOOSE %>');" type="radio" name="shenxing" <%= 'checked' if @user.style == User::Style::LOOSE %>/></span>
                      <span>宽松</span>
                    </li>
                    <li>
                      <span><input id="sx_shoushen" type="radio" onclick="Chima.Step.changeBrandStyle('<%= User::Style::NORMAL %>');" name="shenxing" <%= 'checked' if @user.style == User::Style::NORMAL %>/></span>
                      <span>标准</span>
                    </li>
                    <li>
                      <span><input id="sx_kuansong" type="radio" onclick="Chima.Step.changeBrandStyle('<%= User::Style::FIT %>');" name="shenxing" <%= 'checked' if @user.style == User::Style::FIT %>/></span>
                      <span>合体</span>
                    </li>
                    <li>
                      <span><input id="sx_kuansong" type="radio" onclick="Chima.Step.changeBrandStyle('<%= User::Style::TIGHT %>');" name="shenxing" <%= 'checked' if @user.style == User::Style::TIGHT %>/></span>
                      <span>紧身</span>
                    </li>
                  </ul>
                </div>
                <div id="xh_table">
                  <table cellpadding="0" cellspacing="0">
                    <tr id="xh_th">
                      <td>货号</td>
                      <td>尺码</td>
                      <td>型号</td>
                    </tr>
                    <tr>
                      <td><%= brand.item.name %></td>
                      <td><%= brand.size.name %></td>
                      <td><%= brand.model.name %></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="styBox_right_btm"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>