<div class="layout layout_ex">
  <div class="main">
    <div class="header">
      <div class="header_title">维衣尺码助手</div>
      <div class="header_btn">+ 关注尺码助手</div>
    </div>
    <div class="mbody">
      <div class="textBox fontSize_03 color_01">我的预估尺寸</div>
      <div class="textBox fontSize_02 color_01">维衣尺码助手推断，你的尺寸也许是：</div>
      <div class="textBox lineHeight">身高<span class="color_01"> <%= @user.height.value %>cm</span>&nbsp;&nbsp;&nbsp;&nbsp;体重<span class="color_01"> <%= @user.weight.value %>kg</span></div>
      <div class="tableBox">
        <table cellpadding="0" cellspacing="1">
          <tr class="trHeight_01 fontSize_04">
            <td rowspan="2"></td>
            <td colspan="5">上身</td>
            <td colspan="4">下身</td>
          </tr>
          <tr class="trHeight_02 fontSize_05">
            <td>胸围</td>
            <td>中腰围</td>
            <td>肩宽</td>
            <td>袖长</td>
            <td>领围</td>
            <td>腰围</td>
            <td>臀围</td>
            <td>横档</td>
            <td>脚长</td>
          </tr>
          <tr class="trHeight_03">
            <td class="fontSize_04">预估尺寸</td>
            <td><%= @forecast.chest %></td>
            <td><%= @forecast.middle_chest %></td>
            <td><%= @forecast.shoulder %></td>
            <td><%= @forecast.sleeve %></td>
            <td><%= @forecast.neck %></td>
            <td><%= @forecast.down_chest %></td>
            <td><%= @forecast.ass %></td>
            <td><%= @forecast.crosspiece %></td>
            <td><%= @forecast.foot %></td>
          </tr>
        </table>
      </div>
      <div class="textBox margin_03 padding_01">将准确程度反馈给维衣助手，谢谢啦！</div>
      <p id="explain" class="color_03">
        <span>说明：</span>
        <span class="indent">预估尺寸是尺码助手基于经验推测出来的尺寸，未必会很准确。当然，基于预估尺寸，<br />你的服装采购也可比以前更准确啦。你可以自己量体或者其他方式获得准确尺寸。</span>
      </p>
      <div class="button_three margin_03" onclick="Chima.Step.jumpTo5();">我要开始获得准确尺寸</div>
      <div class="textBox margin_00 padding_01 color_02">基于预估尺寸，你可以查看</div>
      <div>
        <div class="button_four" onclick="Chima.Step.jumpTo6();">各类型服饰最佳尺码</div>
        <div class="button_four" onclick="Chima.Step.jumpTo7();">各品牌最佳尺码推荐</div>
      </div>
    </div>
  </div>
</div>