<%= form_for(@forecast_wsize) do |f| %>
  <% if @forecast_wsize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forecast_wsize.errors.count, "error") %> prohibited this forecast_wsize from being saved:</h2>

      <ul>
      <% @forecast_wsize.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :height %><br />
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :chest %><br />
    <%= f.text_field :chest %>
  </div>
  <div class="field">
    <%= f.label :middle_chest %><br />
    <%= f.text_field :middle_chest %>
  </div>
  <div class="field">
    <%= f.label :shoulder %><br />
    <%= f.text_field :shoulder %>
  </div>
  <div class="field">
    <%= f.label :sleeve %><br />
    <%= f.text_field :sleeve %>
  </div>
  <div class="field">
    <%= f.label :neck %><br />
    <%= f.text_field :neck %>
  </div>
  <div class="field">
    <%= f.label :down_chest %><br />
    <%= f.text_field :down_chest %>
  </div>
  <div class="field">
    <%= f.label :ass %><br />
    <%= f.text_field :ass %>
  </div>
  <div class="field">
    <%= f.label :crosspiece %><br />
    <%= f.text_field :crosspiece %>
  </div>
  <div class="field">
    <%= f.label :foot %><br />
    <%= f.text_field :foot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
