<h1>Listing forecast_wsizes</h1>

<table>
  <tr>
    <th>Height</th>
    <th>Weight</th>
    <th>Chest</th>
    <th>Middle chest</th>
    <th>Shoulder</th>
    <th>Sleeve</th>
    <th>Neck</th>
    <th>Down chest</th>
    <th>Ass</th>
    <th>Crosspiece</th>
    <th>Foot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forecast_wsizes.each do |forecast_wsize| %>
  <tr>
    <td><%= forecast_wsize.height %></td>
    <td><%= forecast_wsize.weight %></td>
    <td><%= forecast_wsize.chest %></td>
    <td><%= forecast_wsize.middle_chest %></td>
    <td><%= forecast_wsize.shoulder %></td>
    <td><%= forecast_wsize.sleeve %></td>
    <td><%= forecast_wsize.neck %></td>
    <td><%= forecast_wsize.down_chest %></td>
    <td><%= forecast_wsize.ass %></td>
    <td><%= forecast_wsize.crosspiece %></td>
    <td><%= forecast_wsize.foot %></td>
    <td><%= link_to 'Show', forecast_wsize %></td>
    <td><%= link_to 'Edit', edit_forecast_wsize_path(forecast_wsize) %></td>
    <td><%= link_to 'Destroy', forecast_wsize, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forecast wsize', new_forecast_wsize_path %>
