<!DOCTYPE html>
<html>
<head>
  <title>Chima</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to "品牌" , brands_path %></li>
    <li><%= link_to "型号" , models_path %></li>
    <li><%= link_to "尺码" , sizes_path %></li>
    <li><%= link_to "上衣尺寸" , up_sizes_path %></li>
    <li><%= link_to "下衣尺寸" , down_sizes_path %></li>
  </ul>

<%= yield %>

</body>
</html>
